</div>
<!-- view posts -->
<div class="final-buttons">
  <form action="/viewPosts" method="get">
    <button class="pill-button">View Posts</button>
  </form>
  <form action="/makePost" method="get">
    <button class="circular-button">+</button>
  </form>
</div>

<footer>
  <div class="ocean">
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
  </div>
  <div class="footer-links">
    <a href="https://github.com/kaushalsatam" target="_blank">
      <img src="assets/images/github.svg" alt="Github" height="25" />
    </a>
    <a href="https://www.linkedin.com/in/kaushalsatam/" target="_blank">
      <img src="assets/images/linkedin.svg" alt="LinkedIn" height="25" />
    </a>
    <a href="https://leetcode.com/kaushalsatam/" target="_blank">
      <img src="assets/images/leetcode.svg" alt="Leetcode" height="25" />
    </a>
    <a href="https://twitter.com/KaushalSatam" target="_blank">
      <img src="assets/images/twitter-x.svg" alt="Twitter" height="25" />
    </a>
    <a href="https://www.instagram.com/kaushal.satam/" target="_blank">
      <img src="assets/images/instagram.svg" alt="Instagram" height="25" />
    </a>
  </div>
</footer>
</body>
</html>
